### OSX ###
.DS_Store

.vscode
logs
yarn-error.log

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### VSCode
.history

### Misc ###
node_modules/
*.map

.sass-cache
extension/
app/

build
src/lib/vue-sequence-bundle.*.js
extension-*.zip
.firebase
