### OSX ###
.DS_Store

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### VSCode
.history

### Misc ###
node_modules/
*.map

.sass-cache
extension/

build
app
src/lib/vue-sequence-bundle.*.js
extension-*.zip