### OSX ###
.DS_Store
.cursor

.vscode
logs
pnpm-debug.log
.pnpm-store/

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### VSCode
.history

### Misc ###
node_modules/
*.map

.sass-cache
### folders built by vite, preact or gulp
/build/
/dist/
/extension/
/app/

extension-*.zip
.firebase
size-plugin.json
extension.zip
