rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function userExists() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
  
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    
    match /items/{itemId} {
      allow create: if userExists();
      allow read, update, delete: if resource.data.createdBy == request.auth.uid;
    }
    
    match /user_subscriptions/{userSubscriptionId} {
      allow create: if userExists();
      allow read, update, delete: if 'user-' + request.auth.uid == userSubscriptionId;
    }
    
  }
}