# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy to Stage

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install && yarn build
    - run: yarn release
    - run: yarn deploy:staging --token ${{ secrets.FIREBASE_TOKEN }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: chrome-extension
        path: extension
